@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1224px) {
    body{
        width: 80%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    body{
        width: 90%;
    }

}

@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 768px)  {
    body{
        width: 90%;
    }

}

@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 600px)  {
    body{
        width: 90%;
    }

}

@media only screen 
and (max-device-width : 480px)  {
    body{
        width: 80%;
    }
    #cards{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    img{
        width: 357px;
    }
    .name .undername .uppername{
        font-size: 24px;
    }
    .name{
        margin-top: 0px;
    }
    .position{
        font-size: 16px;
        width: 135px;
        margin-top: 60px;
        margin-left: -55px;;
    }

}
